<p-card header={{field}}>
    <p-table [value]="rules" [tableStyle]="{ 'min-width': '50rem' }" class="jp-table">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Field</th>
                <th>Field Type</th>
                <th>Condition</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subrule let-rowIndex="rowIndex">
            <tr>
                <td>{{ subrule.index + 1 }}</td>
                <td>{{ subrule.field }}</td>
                <td>{{ subrule.fieldType }}</td>
                <td>{{ subrule.condition }}</td>
                <td>{{ subrule.value }}</td>
                <td>
                    <p-speedDial [model]="getActions(subrule, rowIndex)" direction="right" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
